{% extends 'web/basic.html'%}
{% load static%}
{% block details%}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
<title>This is Home</title>
{% endblock details%}
{% block content%}
<section id="product">
    <h2>Browse</h2>
    <div class="pro-row">
        {% for product in products %}
            <div class="single">
                <div class="pro-card">
                    <div class="pro-img">
                        <img src="/media/{{product.image}}" alt="{% static 'images/image-1.png' %}">
                    </div>
                    <h4>{{ product.name }}</h4>
                    <hr>
                    <div class="lower-sec">
                        <a data-product="{{ product.id }}" data-action="add"  class="add-cart btn btn-success success-hover pro-card-cart update-cart">Add to Cart</a>
                        <a href="" class="btn blue-out-btn blue-out-hover">View</a>
                        <h3>${{ product.price | floatformat:2}}</h3>
                    </div>
                </div>
            </div>
            
        {% endfor %}
        
        </div>
    </div>
</section>
{% endblock content%}
